@font-face {
  font-family: rubik;
  src: url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');
}

body {
  background-color: rgb(0, 0, 0);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.obvlink {
  color: rgb(190, 190, 190);
  font-size: 32px;
}

.fancy-word {
  color:rgb(255, 255, 255);
  font-size: 34px;
  opacity: 0.4;
  font-family: Arial;
  margin:14px;
  text-transform: uppercase;
}

.fancy-word:hover {
  opacity: 1;
  text-decoration: none;
}

.spacer {
  color:rgb(0, 0, 0);
  margin:0.25rem;
  font-size: 14px;
}

.half-spacer {
  color:rgb(0, 0, 0);
  margin:0rem;
  font-size: 7px;
}

.game {
  color:rgb(255, 255, 255);
  opacity: 0.4;
  font-family: Arial;
  text-decoration: none;
  margin:8px;
}

.game:hover {
  opacity: 1.0;
  color:rgb(255, 255, 255);
  font-family: Arial;
  text-decoration: none;
}

.game-container {
  margin: auto;
  width: 90%;
  border: 0px solid green;
  text-align: center;
  padding: 10px;
}

p {
  color:rgb(255, 255, 255);
  font-size: 32px;
  font-family: Arial;
  margin:0rem;
}

a {
  color:rgb(255, 255, 255);
  font-size: 24px;
  font-family: Arial;
  margin:0rem;
}

h1 {
  color:rgb(255, 255, 255);
  font-size: 36px;
  font-family: Arial;
  margin:0rem;
}

h2 {
  color:rgb(255, 255, 255);
  font-size: 36px;
  font-family: Arial;
  margin:0rem;
}

h3 {
  color:rgb(255, 255, 255);
  font-size: 3vw;
  font-family: Arial;
  margin:0rem;
}